{% extends "base.html" %}
{% load static %}

{% block javascript %}
<script src={% static 'main.js' %} defer></script>
<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.8/dist/clipboard.min.js"></script>

{% endblock %}
{% block content %}
<section class="">
    <form action="{% url 'search_snippet' %}" method="GET">
        <input type="text" name="q">
        <button type="submit" class="">Search by title</button>
      </form>
  </section>
{% for snippet in snippets %}
<article>
  <div class=card>
    <h2>
        <a href={% url 'snippet_details' pk=snippet.pk %}>{{ snippet.title }}</a>
    </h2>
    <h3>{{ snippet.author }}</h3>
    <p id="code">{{ snippet.code }}</p>
    <p>{{ snippet.language }}</p>
    <p>Description: {{ snippet.description }}</p>
    <button class="btn" data-clipboard-action="copy" data-clipboard-target="#code">Copy Code</button>
  </div>
</article>
{% empty %}
    <h2>Sorry, no results came back.</h2>
{% endfor %}

<section class="">
    <a href={% url 'add_snippet' %} class="">Add a new code snippet ➡️</a>
</section>


{% endblock %}