{% extends "base.html" %}

{% block content %}
<section class="search">
    <form action="{% url 'search_snippet' %}" method="GET">
        <input type="text" name="q">
        <button type="submit" class="">Search by title</button>
      </form>
  </section>
<section class="add-snippet">
    <a href={% url 'add_snippet' %} class="">Add a new code snippet ➡️</a>
</section>
{% for snippet in snippets %}
<article>
  <div class=card>
    <h2>
        <a href={% url 'snippet_details' pk=snippet.pk %}>{{ snippet.title }}</a>
    </h2>
    <h3>{{ snippet.author }}</h3>
    <p class="code">{{ snippet.code }}</p>
    <p>{{ snippet.language }}</p>
    <p>Description: {{ snippet.description }}</p>
  </div>
</article>
{% empty %}
    <h2>Sorry, no results came back.</h2>
{% endfor %}


{% endblock %}