{% extends "base.html" %}

{% block content %}

{% for snippet in snippets %}
<article>
  <div class=card>
    <h2>
        <a href={% url 'snippet_details' pk=snippet.pk %}>{{ snippet.title }}</a>
    </h2>
    <h3>{{ snippet.author }}</h3>
    <p>{{ snippet.code }}</p>
    <p>{{ snippet.language }}</p>
    <p>Description: {{ snippet.description }}</p>
  </div>
</article>
{% endfor %}

<section class="">
    <a href={% url 'add_snippet' %} class="">Add a new code snippet ➡️</a>
</section>


{% endblock %}