{% extends "base.html" %}

{% block content %}
<h1 class="heading-text">My Snippets</h1>

<section class="add-snippet">
    <a href={% url 'add_snippet' %} class="">+ Add a new code snippet</a>
</section>

{% for snippet in snippets %}
<article>
  <div class=card>
    <h2>
        <a href={% url 'snippet_details' pk=snippet.pk %}>{{ snippet.title }}</a>
    </h2>
    <h3>{{ snippet.author }}</h3>
    <p class="lan">{{ snippet.language }}</p>

    <pre><code class="language-{{ snippet.language }}" id="code">{{ snippet.code }}</code></pre>
    <p  class="description">{{ snippet.description }}</p>
    <p>Copied {{ snippet.copy_count }} times</p>
    <a href={% url 'edit_snippet' pk=snippet.pk%} class="edit">Edit ✍️</a>
    <a href={% url 'delete_snippet' pk=snippet.pk%} class="delete">Delete</a>
  </div>
</article>



{% endfor %}

{% endblock content %}