{% extends "base.html" %}

{% block content %}
<h2>Snippet Detail</h2>

<a href={% url 'list_snippets' %}>Back to all snippets</a>

<div class=card>
    <h2>
        {{ snippet.title }}
    </h2>
    <h3>{{ snippet.author }}</h3>
    <p class="code">{{ snippet.code }}</p>
    <p>{{ snippet.language }}</p>
    <p>{{ snippet.description }}</p>
    <a href={% url 'edit_snippet' pk=snippet.pk%}>Edit ✍️</a>
    <a href={% url 'delete_snippet' pk=snippet.pk%}>Delete ❌</a>
</div>


{% endblock content %}