{% extends "base.html" %}
{% load static %}
{% block javascript %}
<script src={% static 'main.js' %} defer></script>
<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.8/dist/clipboard.min.js"></script>
{% endblock %}

{% block content %}
<h2 class="heading-text">Snippet Detail</h2>

<a href={% url 'list_snippets' %} class="back">⬅ Back to all snippets</a>

<div class=card>
    <h2 class="snippet-title">
        {{ snippet.title }}
    </h2>
    <h3>{{ snippet.author }}</h3>
    <p class="lan">{{ snippet.language }}</p>
    <pre><code class="language-{{ snippet.language }}" id="code">{{ snippet.code }}</code></pre>
    <p>{{ snippet.language.name }}</p>
    <p class="description">{{ snippet.description }}</p>
    <p>Copied {{ snippet.copy_count }} times</p>
    <a href={% url 'copy_snippet' pk=snippet.pk %}><button class="btn" data-clipboard-action="copy" data-clipboard-text="{{ snippet.code }}">Copy Code</button></a>
    {% if user == snippet.author %}
        <a href={% url 'edit_snippet' pk=snippet.pk%} class="edit">Edit ✍️</a>
        <a href={% url 'delete_snippet' pk=snippet.pk%} class="delete">Delete</a>
    {% else %}
        <p></p>
    {% endif %}
</div>


{% endblock content %}