{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block meta %}{% endblock meta %}
        <title>Code Snippets</title>
    </head>
    <body>
        <header>
          <div>
            <h1>Code Snippets</h1>
          </div>
        </header>
        <main>
            <div>
                {% block content %}
                {% endblock %}
            </div>
        </main>
    </body>
</html>